.login-page {
  display: grid;
  place-items: center;
  background: url('../../assets/bg.webp') no-repeat center/cover;
  padding: 2rem;
  min-height: 100vh;
}

.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: min(100%, 1080px);
  padding: 2rem;
  padding-bottom: 4rem;
  background-color: #fff;
  border-radius: 1rem;
}

.login-section .login-header {
  width: min(820px, 100%);
}

.login-section .login-hero {
  width: min(640px, 80%);
}

.login-form {
  display: flex;
  gap: 1rem;
  width: min(640px, 80%);
}

@media (max-width: 768px) {
  .login-form {
    flex-direction: column;
  }
}

.login-form > input {
  flex: 1;
  border: 1px solid gray;
}

.login-form > input,
.login-form button {
  padding: 0.5rem 1rem;
  outline: none;
  border-radius: 5px;
}

.login-form button {
  cursor: pointer;
  border: none;
  background: linear-gradient(to top, #aaa, #ddd);
  font-weight: bold;
}
