.dialog {
  position: absolute;
  left: 0;
  top: 50%;
  width: min(450px, 65vw);
  transform: translate(-100%, -60%);
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  padding: 1rem;
  border: 0.5rem solid #777;
  border-radius: 1rem;
  color: #333;
  background-color: #fff;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  cursor: default;
}

.dialog > button {
  padding-block: 1.5rem;
}

.dialog .dialog-menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  list-style-type: none;
  padding-inline: 1rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}

.dialog .dialog-menu.show {
  opacity: 1;
  pointer-events: all;
}

.dialog::before {
  content: '';
  position: absolute;
  top: 40%;
  right: -0.5rem;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 8px 24px 8px;
  border-color: transparent transparent #777 transparent;
  transform: translate(100%, 50%) rotate(110deg);
}

.dialog .dialog-menu button {
  width: 100%;
}

.license-generator {
  position: relative;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.license-generator > svg {
  position: absolute;
  inset-inline-start: -1.25rem;
  top: 0.25rem;
  width: 1.5rem;
  height: 1.5rem;
  animation: spin 2s linear infinite;
}
