* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}

img {
  max-width: 100%;
  object-fit: cover;
  user-select: none;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  padding: 0;
  margin: 0;
}
